@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
*{
    font-family: "Outfit", sans-serif;

}
@layer base{
    button{
        @apply cursor-pointer;
    }
}
@import "tailwindcss";
*{
    font-family: "Outfit", sans-serif;
}

@layer base{
    button{
        @apply cursor-pointer;
    }
    input:not([type="checkbox"]){
        @apply outline-none focus:ring border border-gray-300 focus:ring-blue-300 focus:border-blue-300 rounded-lg;
    }
    textarea{
            @apply outline-none focus:ring border border-gray-300  focus:ring-blue-300 focus:border-blue-300 rounded-lg;
    }
}